@mixin background-size ($bg-size){
    background-size: $bg-size;
      -webkit-background-size: $bg-size;
      -moz-background-size: $bg-size;
      -o-background-size: $bg-size;
  }

@mixin parallax-background($file) {
    background: url($file) no-repeat center center fixed;
    @include background-size(cover);
  }

  @mixin box-sizing($sizing) {
    @each $vendor in ('', '-moz-', '-webkit-') {
      #{$vendor}box-sizing: $sizing;
    }
  }

  @mixin transform($transform) {
    @each $vendor in ('', '-moz-', '-webkit-', '-ms-', '-o-') {
      #{$vendor}transform: $transform;
    }
  }

  @mixin transition($transition) {
    @each $vendor in ('', '-moz-', '-webkit-', '-o-') {
      #{$vendor}transition: $transition;
    }
  }

  @mixin calc($property, $expression) {
    @each $vendor in ('', '-moz-', '-webkit-') {
      #{$property}: #{$vendor}calc(#{$expression});
    }
  }

  @mixin galery($scale) {
    -webkit-transform: scale($scale);
    transform: scale($scale);
    transition: 600ms transform ease-in-out;
    z-index: 1;
  }
